<script src="https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"></script>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <h2 class="card-title">
              <b>
                Listar clientes
              </b>
            </h2>
          </div>
          <div class="card-body">
            <div class="toolbar">
              <!-- <div class="row">
                <div class="col">
                  <button class="btn btn-success mr-2" (click)="exportExcel()">
                    Excel
                  </button>
                  <button class="btn btn-danger" (click)="exportExcel()">
                    PDF
                  </button>
                </div>
                <div class="col d-flex flex-row-reverse">
                  <div class="form-group">
                    <input type="text" value="" placeholder="Buscar" class="form-control" />
                  </div>
                </div>
              </div> -->
            </div>
            <div class="material-datatables">
              <p-table [globalFilterFields]="[
              'razon_social',
              'razon_comercial',
              'paises.nombre',
              'nit',
              'tipo_cliente.nombre',              
              ]" id="tableClients" #tableClients [columns]="cols" [value]="clients" [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-success mr-2" (click)="exportExcel()">
                          Excel
                        </button>
                        <button class="btn btn-danger" (click)="exportPdf()">
                          PDF
                        </button>
                      </div>
                      <div class="col d-flex flex-row-reverse">
                        <span class="p-input-icon-left ml-auto">
                          <input pInputText type="text" class="form-control"
                            (input)="tableClients.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global seach" />
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th [pSortableColumn]="col.field" *ngFor="let col of columns">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                      <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-col>
                  <tr style="cursor: pointer;" (click)="viewClient(col.id)">
                    <td>
                      {{ col.razon_social }}
                    </td>
                    <td>
                      {{ col.razon_comercial }}
                    </td>
                    <td>
                      {{ col.nit }}
                    </td>
                    <td>
                      {{ col.tCliente}}
                    </td>
                    <td>
                      {{ col.paises.nombre }}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorcenter">
                  <button type="button" pButton icon="pi-cloud-upload"></button>
                </ng-template>
              </p-table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>