.main-content {
    margin-top: 0px;
    padding: 100px 15px;
    min-height: calc(100vh);
    /*
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(6,30,64,1) 16%, rgba(135,146,164,1) 96%);
    */
    background: url(/assets/img/login-07.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
form {
    border-radius: 40px;
    border: 3px solid #86d4f2 !important;
    background: #58c5efc9;
}
.p-5 {
    padding: 4rem 2.9rem !important;
}
.bg-btn1 {
    text-transform: unset;
    font-size: 1.3rem;
    /*
    background: rgb(1,54,108);
    background: linear-gradient(90deg, rgba(1,54,108,1) 0%, rgba(1,54,108,1) 16%, rgba(1,71,131,1) 96%);*/
    background: #029ff0;
    border-radius: 15px;
    border-color: #ebe2ec8f;
    box-shadow: none;
}
.btn.btn-primary:hover {
    color: #fff;
    background-color: #01adef;
    border-color: #01acf1;
  }
.bg-btn2 {
    text-transform: unset;
    /*background: rgb(0,70,130);
    background: linear-gradient(90deg, rgba(0,70,130,1) 0%, rgba(1,82,145,1) 16%, rgba(2,97,163,1) 96%);
    */
    box-shadow: none;
    background: linear-gradient(to right, #51ddfb, #58bfe6, #1a7cbe);
    border: 1px solid #ebe2ec8f;
    border-radius: 15px;
    font-size: 1rem;
}
.not_underline {
    background-image: unset;
}
.not_underline::placeholder {
    color: #fff;
}