<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <h2 class="card-title">
              <b>
                Listar sucursales de instalación
              </b>
            </h2>
          </div>
          <div class="card-body">
            <div class="toolbar">

            </div>
            <div class="material-datatables">
              <p-table id="tableBranchFacility" #tableBranchFacility [columns]="cols" [value]="branchFacilities"
                [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <div class="row">
                      <div class="col">
                        <button class="btn btn-success mr-2" (click)="exportExcel()">
                          Excel
                        </button>
                        <button class="btn btn-danger" (click)="exportPdf()">
                          PDF
                        </button>
                      </div>
                      <div class="col d-flex flex-row-reverse">
                        <span class="p-input-icon-left ml-auto">
                          <input pInputText type="text" class="form-control"
                            (input)="tableBranchFacility.filterGlobal($event.target.value, 'contains')"
                            placeholder="Global seach" />
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th [pSortableColumn]="col.field" *ngFor="let col of columns">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                      <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-col>
                  <tr *ngIf="branchFacilities.length ==0">
                    <td rowspan="4">
                      No hay datos
                    </td>
                  </tr>
                  <tr *ngIf="branchFacilities.length > 0" style="cursor: pointer;">
                    <td>
                      {{ col.nombre }}
                    </td>
                    <td>
                      {{ col.alias }}
                    </td>
                    <td>
                      {{ col.cliente }}
                    </td>                    
                    <td>
                      {{ col.pais }}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="paginatorcenter">
                  <button type="button" pButton icon="pi-cloud-upload"></button>
                </ng-template>
              </p-table>
            </div>
          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>