<div class="row justify-content-md-center">
    <div class="col-md-10 mt-4">
        <div class="card flex justify-content-center">
            <p-accordion [activeIndex]="0">
                <p-accordionTab header="Puntos">
                    <div class="card">
                        <p-table #dt1 [value]="pointsFilter"
                        [(selection)]="puntoSelect"  
                        dataKey="id"
                        [paginator]="true" 
                        [rows]="5"
                        [selectionPageOnly]="true" 
                        [globalFilterFields]="['id', 'sucursal']"
                        [tableStyle]="{'min-width': '50rem'}" 
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex text-right">
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="pl-5" [(ngModel)]="filterText" 
                                        (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Búsqueda Global" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                  <th style="width: 4rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                  </th>
                                  <th style="min-width:200px" pSortableColumn="id">
                                    Punto 
                                    <p-sortIcon field="id"></p-sortIcon>
                                    <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                                  </th>
                                  <th style="min-width:200px" pSortableColumn="sucursal">
                                    Sucursal
                                    <p-sortIcon field="sucursal"></p-sortIcon>
                                    <p-columnFilter type="text" field="sucursal" display="menu"></p-columnFilter>
                                  </th>
                                </tr>
                              </ng-template>
                            <ng-template pTemplate="body" let-point>
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="point"></p-tableCheckbox>
                                    </td>
                                    <td>
                                        {{ point.id }}
                                    </td>
                                    <td>
                                        {{ point.sucursal }}
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <p-accordion>
                <ng-container *ngFor="let tabData of accordionTabsData2; let i = index">
                  <p-accordionTab [header]="tabData.header">
                    <div class="card">
                      <p-table #tb [value]="accordionTabsData2[i].tableDataFilter"
                      [(selection)]="selectedGroups" 
                      (sortFunction)="customSort($event)" 
                      dataKey="id" 
                      [paginator]="true" 
                      [rows]="3"
                      [selectionPageOnly]="true" 
                      [tableStyle]="{'min-width': '50rem'}">
                        <ng-template pTemplate="caption">
                          <div class="flex text-right">
                            <span class="p-input-icon-left ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" class="pl-5" (input)="filterDataGroup($event.target.value, i)" placeholder="Global Search" #inputSearch />
                            </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 4rem">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="min-width:200px" pSortableColumn="puntos.id">
                              Punto <p-sortIcon field="puntos.id"></p-sortIcon>
                              <p-columnFilter type="text" field="puntos.id" display="menu"></p-columnFilter>
                            </th>
                            <th style="min-width:200px" pSortableColumn="sucursal">
                              Sucursal <p-sortIcon field="sucursal"></p-sortIcon>
                              <p-columnFilter type="text" field="sucursal" display="menu"></p-columnFilter>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                          <tr [pSelectableRow]="item">
                            <td>
                              <p-tableCheckbox [value]="item"></p-tableCheckbox>
                            </td> <!-- puntos_grupos.nombre -->
                            <td>{{ item.puntos.id }}</td>
                            <td>{{ item.puntos.contratos[0].contrato.sucursal_instalacion.nombre }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </p-accordionTab>
                </ng-container>
            </p-accordion>
            <p-accordion>
                <ng-container *ngFor="let tabData of accordionTabsData3; let i = index">
                  <p-accordionTab [header]="tabData.header">
                    <div class="card">
                      <p-table #dt2 
                      [value]="accordionTabsData3[i].tableDataFilter"
                      [(selection)]="selectedRegions"
                      (sortFunction)="customSort($event)"
                      dataKey="id"
                      [paginator]="true"
                      [rows]="3"
                      [selectionPageOnly]="true"
                      [tableStyle]="{'min-width': '50rem'}"
                      [globalFilterFields]="['puntos.id', 'sucursal']">
                        <ng-template pTemplate="caption">
                          <div class="flex text-right">
                            <span class="p-input-icon-left ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" class="pl-5" (input)="filterDataRegiones($event.target.value, i)" placeholder="Global Search" #inputSearch />
                            </span>
                          </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                          <tr>
                            <th style="width: 4rem">
                              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="min-width:200px" pSortableColumn="puntos.id">
                              Punto <p-sortIcon field="puntos.id"></p-sortIcon>
                              <p-columnFilter type="text" field="puntos.id" display="menu"></p-columnFilter>
                            </th>
                            <th style="min-width:200px" pSortableColumn="sucursal">
                              Sucursal <p-sortIcon field="sucursal"></p-sortIcon>
                              <p-columnFilter type="text" field="sucursal" display="menu"></p-columnFilter>
                            </th>
                          </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item>
                          <tr [pSelectableRow]="item">
                            <td>
                              <p-tableCheckbox [value]="item"></p-tableCheckbox>
                            </td> <!-- puntos_grupos.nombre -->
                            <td>{{ item.puntos.id }}</td>
                            <td>{{ item.puntos.contratos[0].contrato.sucursal_instalacion.nombre }}</td>
                          </tr>
                        </ng-template>
                      </p-table>
                    </div>
                  </p-accordionTab>
                </ng-container>
            </p-accordion>
        </div>
    </div>
    <div class="col-md-12 mt-4">
        <p class="text-center my-4">
            <button mat-raised-button class="btn btn-siguiente ml-4 shadow rounded" (click)="next1()" [disabled]="puntoSelect === null || puntoSelect.length === 0 || selectedGroups === null || selectedGroups.length === 0 || selectedRegions === null || selectedRegions.length === 0">
                Siguiente
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
    </div>
</div>


