<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-12 mt-3">
                    <app-buttons-link view="create"></app-buttons-link>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Crear usuario</h1>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button mat-raised-button type="button" (click)="clearForm()"
                                    class="btn btn-fill btn-rose">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                    Limpiar formulario
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <app-breadcrumb view="create"></app-breadcrumb>
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Datos del usuario</h4>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="nombre" placeholder="Nombre" type="text">
                                        <mat-error *ngIf="form.get('nombre').hasError('required')">
                                            El nombre es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="apellido" placeholder="Apellido" type="text">
                                        <mat-error *ngIf="form.get('apellido').hasError('required')">
                                            El apellido es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select formControlName="pais" placeholder="País">
                                            <mat-option *ngFor="let country of countries" [value]="country.id">
                                                {{ country.nombre }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('pais').hasError('required')">
                                            El país es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select formControlName="cliente" placeholder="Cliente">
                                            <mat-option *ngFor="let client of clients" [value]="client.id">
                                                {{ client.razon_social }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('cliente').hasError('required')">
                                            El cliente es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select formControlName="tUsuario" placeholder="Tipo usuario">
                                            <mat-option *ngFor="let tu of typeUser" [value]="tu.id">
                                                {{ tu.tipo_usuario }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('tUsuario').hasError('required')">
                                            El tipo de usuario es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select formControlName="cOperacion" placeholder="Centro de operación">
                                            <mat-option *ngFor="let au of attendantUser" [value]="au.id">
                                                {{ au.sede }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('cOperacion').hasError('required')">
                                            El centro de operación es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select formControlName="disponibilidad" placeholder="Disponibilidad">
                                            <mat-option *ngFor="let d of disponibility" [value]="d.id">
                                                {{ d.estado_usuario }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('disponibilidad').hasError('required')">
                                            El tipo de usuario es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field>
                                        <mat-select formControlName="estado_usuario" placeholder="Estado usuario">
                                            <mat-option *ngFor="let su of states_user" [value]="su.value">
                                                {{ su.estado }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('estado_usuario').hasError('required')">
                                            El estado usuario es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="telefono" placeholder="Telefono" type="number">
                                        <mat-error *ngIf="form.get('telefono').hasError('required')">
                                            El telefono es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="correo" placeholder="Correo" type="text">
                                        <mat-error *ngIf="form.get('correo').hasError('required')">
                                            El correo es requerido
                                        </mat-error>
                                        <mat-error *ngIf="form.get('correo').hasError('pattern')">
                                            Por favor, digite un correo valido.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="usuario" placeholder="Usuario" type="text">
                                        <mat-error *ngIf="form.get('usuario').hasError('required')">
                                            El usuario es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="password" placeholder="Contraseña" type="password">
                                        <mat-error *ngIf="form.get('password').hasError('required')">
                                            La contraseña requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="form.get('tUsuario').value == 18" class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Usuario administrador</h4>
                            </div>
                        </div>
                        <div class="card-body mt-2">
                            <div class="row d-flex px-4 mx-4 mt-2">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <mat-select formControlName="asociacion" placeholder="Punto">
                                            <mat-option *ngFor="let p of points" [value]="p.id">
                                                {{ p.id }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('asociacion').hasError('required')">
                                            El punto es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="form.get('tUsuario').value == 20" class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Usuario grupo</h4>
                            </div>
                        </div>
                        <div class="card-body mt-2">
                            <div class="row d-flex px-4 mx-4 mt-2">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <mat-select formControlName="asociacion" placeholder="Grupo de puntos">
                                            <mat-option *ngFor="let d of pointsGroups" [value]="d.id">
                                                {{ d.id }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('asociacion').hasError('required')">
                                            El grupo es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="form.get('tUsuario').value == 19" class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Usuario regional</h4>
                            </div>
                        </div>
                        <div class="card-body mt-2">
                            <div class="row d-flex px-4 mx-4 mt-2">
                                <div class="col-sm-12">
                                    <mat-form-field>
                                        <mat-select formControlName="asociacion" placeholder="Regional">
                                            <mat-option *ngFor="let r of regionals" [value]="r.id">
                                                {{ r.id }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="form.get('asociacion').hasError('required')">
                                            La regional es requerida
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="text-center">
                        <button mat-raised-button type="button" (click)="sendForm()" class="btn btn-fill btn-rose">
                            <span class="material-symbols-outlined mr-1">
                                send
                            </span>
                            Crear
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>