<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-breadcrumb view="home"></app-breadcrumb>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-12">
                                <h1>Voice Experience</h1>
                                <p>Voces que encantan, voces que enamoran.</p>
                            </div>
                            <div class="col-12">
                                <h1 class="text-center">Información</h1>
                                <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex"></p-steps>
                                
                                
                                <div *ngIf="step === '-1'">
                                    <app-stepa1></app-stepa1>
                                </div>
                                <div *ngIf="step === '1'">
                                    <app-step1></app-step1>
                                </div>
                                <div [ngClass]="{'formulario-visible': step === 'formulario', 'formulario-oculto': step !== 'formulario'}">
                                    <app-step2></app-step2>
                                </div>
                                <div *ngIf="step === '3'">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card flex justify-content-center my-4 py-4">
                                                        <div class="row">
                                                            <div class="col-md-6 text-center">
                                                                <p-calendar [(ngModel)]="fromDate" dateFormat="dd/mm/yy" placeholder="Desde"></p-calendar>
                                                            </div>
                                                            <div class="col-md-6 text-center">
                                                                <p-calendar [(ngModel)]="toDate" dateFormat="dd/mm/yy" placeholder="Hasta"></p-calendar>
                                                            </div>
                                                            <div class="col-md-12 px-4 mt-4 text-center">
                                                                <p-selectButton [options]="daysOfWeek" [(ngModel)]="daysOfWeekVal" [multiple]="true" optionLabel="label" optionValue="value" class="ng-invalid ng-dirty"></p-selectButton>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-4 p-4">
                                                                    <p>
                                                                        <p-radioButton name="feriados3" value="sinfestivos" inputId="sinfestivos3" [(ngModel)]="feriados3"></p-radioButton>
                                                                        <label for="sinfestivos3" class="ml-2">Sin Festivos</label>
                                                                    </p>
                                                                    <p>
                                                                        <p-radioButton name="feriados3" value="confestivos" inputId="confestivos3" [(ngModel)]="feriados3"></p-radioButton>
                                                                        <label for="confestivos3" class="ml-2">Con Festivos</label>
                                                                    </p>
                                                                    <p>
                                                                        <p-radioButton name="feriados3" value="solofestivos" inputId="solofestivos3" [(ngModel)]="feriados3"></p-radioButton>
                                                                        <label for="solofestivos3" class="ml-2">Solo días Festivos</label>
                                                                    </p>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card flex justify-content-center my-4 p-4">
                                                        <div class="row">
                                                            <div class="col-md-12 text-center">
                                                                <div style="float: left; width: calc(100% - 50px)">
                                                                    <p-calendar [(ngModel)]="time3" [timeOnly]="true" name="time3" placeholder="Horas" [showIcon]="true"></p-calendar>
                                                                </div>
                                                                <div style="float: left; width: 50px">
                                                                    <p-button icon="pi pi-plus" (click)="setTime3()"></p-button>
                                                                </div>
                                                                <ul class="times">
                                                                    <li *ngFor="let times3 of timeList3; let i = index">{{ times3 }}<i class="pi pi-times" (click)="removeTime33(i)"></i></li>
                                                                </ul>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-10">
                                                    <p>
                                                        <p-checkbox [(ngModel)]="footer_opt3_1" [binary]="true" inputId="footer_opt3_1"></p-checkbox>
                                                        <label for="footer_opt3_1">Require aprobación del mensaje por parte del cliente</label>
                                                    </p>
                                                    <p>
                                                        <p-checkbox [(ngModel)]="footer_opt3_2" [binary]="true" inputId="footer_opt3_2"></p-checkbox>
                                                        <label for="footer_opt3_2">Reproducir mensaje al final de la cansión</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="text-center">
                                                <button mat-raised-button class="btn btn-siguiente ml-4" (click)="next1()">
                                                    Siguiente
                                                    <span class="material-symbols-outlined ml-3">
                                                        arrow_forward_ios
                                                    </span>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="step === '4'">
                                    <div class="row justify-content-md-center">
                                        <div class="col-md-10">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card flex justify-content-center my-4 py-4">
                                                        <div class="row">
                                                            <div class="col-md-6 text-center">
                                                                <p-calendar [(ngModel)]="fromDate" dateFormat="dd/mm/yy" placeholder="Desde"></p-calendar>
                                                                
                                                            </div>
                                                            <div class="col-md-6 text-center">
                                                                <p-calendar [(ngModel)]="toDate" dateFormat="dd/mm/yy" placeholder="Hasta"></p-calendar>
                                                                
                                                            </div>
                                                            <div class="col-md-12 px-4 mt-4 text-center">
                                                                <p-selectButton [options]="daysOfWeek" [(ngModel)]="value" [multiple]="true" optionLabel="label" optionValue="value" class="ng-invalid ng-dirty"></p-selectButton>
                                                            </div>
                                                            <div class="col-md-4"></div>
                                                            <div class="col-md-4 p-4">
                                                                    <p>
                                                                        <p-radioButton name="feriados" value="sinfestivos" inputId="sinfestivos" [(ngModel)]="feriados"></p-radioButton>
                                                                        <label for="sinfestivos" class="ml-2">Sin Festivos</label>
                                                                    </p>
                                                                    <p>
                                                                        <p-radioButton name="feriados" value="confestivos" inputId="confestivos" [(ngModel)]="feriados"></p-radioButton>
                                                                        <label for="confestivos" class="ml-2">Con Festivos</label>
                                                                    </p>
                                                                    <p>
                                                                        <p-radioButton name="feriados" value="solofestivos" inputId="solofestivos" [(ngModel)]="feriados"></p-radioButton>
                                                                        <label for="solofestivos" class="ml-2">Solo días Festivos</label>
                                                                    </p>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card flex justify-content-center my-4 p-4">
                                                        <div class="row">
                                                            <div class="col-md-6 text-center">
                                                                <div style="float: left; width: calc(100% - 50px)">
                                                                    <p-calendar [(ngModel)]="timeStart" [timeOnly]="true" name="time_start" placeholder="Hora inicio" [showIcon]="true"></p-calendar>
                                                                </div>
                                                                <div style="float: left; width: 50px">
                                                                    <p-button icon="pi pi-plus" (click)="setTimeStart()"></p-button>
                                                                </div>
                                                                <ul class="times">
                                                                    <li *ngFor="let timestart of timeStartList; let i = index">{{ timestart }}<i class="pi pi-times" (click)="removeTimeStart(i)"></i></li>
                                                                </ul>
                                                            </div>
                                                            <div class="col-md-6 text-center">
                                                                <div style="float: left; width: calc(100% - 50px)">
                                                                    <p-calendar [(ngModel)]="timeEnd" [timeOnly]="true" name="time_end" placeholder="Hora fin" [showIcon]="true"></p-calendar>
                                                                </div>
                                                                <div style="float: left; width: 50px">
                                                                    <p-button icon="pi pi-plus" (click)="setTimeEnd()"></p-button>
                                                                </div>
                                                                <ul class="times">
                                                                    <li *ngFor="let timeend of timeEndList; let i = index">{{ timeend }}<i class="pi pi-times" (click)="removeTimeEnd(i)"></i></li>
                                                                </ul>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-10">
                                                    <p>
                                                        <p-checkbox [(ngModel)]="footer_opt4_1" [binary]="true" inputId="footer_opt4_1"></p-checkbox>
                                                        <label for="footer_opt4_1">Require aprobación del mensaje por parte del cliente</label>
                                                    </p>
                                                    <p>
                                                        <p-checkbox [(ngModel)]="footer_opt4_2" [binary]="true" inputId="footer_opt4_2"></p-checkbox>
                                                        <label for="footer_opt4_2">Reproducir mensaje al final de la cansión</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <p class="text-center">
                                                <button mat-raised-button class="btn btn-siguiente ml-4" (click)="next2()">
                                                    Siguiente
                                                    <span class="material-symbols-outlined ml-3">
                                                        arrow_forward_ios
                                                    </span>
                                                </button>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="step === '5'">
                                    <h2>rush hours</h2>
                                    <app-ruchhours></app-ruchhours>
                                </div>
                                <div *ngIf="step === 'briefcase'">
                                    <app-briefcase></app-briefcase>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
