<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-breadcrumb *ngIf="step === '1' || step === '-1'" view="creation"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'formulario'" view="formulario"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'horas_fijas'" view="horas_fijas"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'secuencia'" view="secuencia"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'rushhours'" view="rushhours"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'puntos' || step === 'grupo'|| step === 'regional' || step === 'puntos_grupo_regional'" view="puntos"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'resumen1' || step === 'resumen2'" view="resumen"></app-breadcrumb>
            <app-breadcrumb *ngIf="step === 'briefcase'" view="briefcase"></app-breadcrumb>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-12">
                                <img src="/assets/img/logo-musicar.png" width="200"/>
                                <h1 class="font-weight-bold">Voice Experience</h1>
                                <p>Voces que encantan, voces que enamoran.</p>
                            </div>
                            <div class="col-12">
                                <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" class="paso"></p-steps>
                                
                                <div *ngIf="step === '-1'">
                                    <app-stepa1></app-stepa1>
                                </div>
                                <div *ngIf="step === '1'">
                                    <app-step1></app-step1>
                                </div>
                                <div [ngClass]="{'formulario-visible': step === 'formulario', 'formulario-oculto': step !== 'formulario'}">
                                    <app-step2></app-step2>
                                </div>
                                <div *ngIf="step === 'horas_fijas'">
                                    
                                    <app-fixedhours></app-fixedhours>
                                </div>
                                <div *ngIf="step === 'secuencia'">
                                    
                                    <app-sequence></app-sequence>
                                </div>
                                <div *ngIf="step === 'rushhours'">
                                    <app-ruchhours></app-ruchhours>
                                </div>
                                <div [ngClass]="{'formulario-visible': step === 'briefcase', 'formulario-oculto': step !== 'briefcase'}">
                                    <app-briefcase></app-briefcase>
                                </div>
                                <div *ngIf="step === 'puntos'">
                                    <app-puntos></app-puntos>
                                </div>
                                <div *ngIf="step === 'grupo'">
                                    <app-grupo></app-grupo>
                                </div>
                                <div *ngIf="step === 'regional'">
                                    <app-regional></app-regional>
                                </div>
                                <div *ngIf="step === 'puntos_grupo_regional'">
                                    
                                    <app-puntos-grupo-regional></app-puntos-grupo-regional>
                                </div>
                                <div *ngIf="step === 'resumen1'">
                                    <app-resumen1></app-resumen1>
                                </div>
                                <div *ngIf="step === 'resumen2'">
                                    <app-resumen2></app-resumen2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
