<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5">
            
            <form class="border p-4">
                <h1 class="h2 text-white font-weight-bold">Cambio de contraseña</h1>
                <p class="text-white">Establecer nueva contraseña</p>
                <div class="input-group mb-3 bg-btn1 py-2">
                    <span class="input-group-text text-white" id="basic-addon1"><i class="material-icons">lock</i></span>
                    <input
                    type="password"
                    class="form-control not_underline text-white"
                    placeholder="Nueva contraseña"
                    aria-label="Password"
                    />
                    <span class="input-group-text text-white"><i class="material-icons">visibility</i></span>
                </div>
                <div class="input-group mb-3 bg-btn1 py-2">
                    <span class="input-group-text text-white" id="basic-addon1"><i class="material-icons">lock</i></span>
                    <input
                    type="password"
                    class="form-control not_underline text-white"
                    placeholder="Confirmar contraseña"
                    aria-label="Password"
                    />
                    <span class="input-group-text text-white"><i class="material-icons">visibility</i></span>
                </div>
                
                <div class="text-center my-3">
                    <button type="submit" class="btn btn-primary bg-btn1" style="padding: 20px 70px;">Cambiar Contraseña</button>
                </div>   
            </form>
            
            </div>
        </div>
    </div>
</div>