<p class="text-center mt-4">
    <img src="./assets/img/6.success.png" class="icon"/>
</p>
<h1 class="text-center">Felicitaciones!</h1>
<p class="text-center mb-0">El Mensaje se ha solicitado correctamente</p>    
<p class="text-center mt-4">
    <a href="">Descargar Resumen</a>
</p>
<p class="text-center my-4">
    <button mat-raised-button class="btn btn-siguiente ml-4">
        Aceptar
        <span class="material-symbols-outlined ml-3">
            arrow_forward_ios
        </span>
    </button>
</p>