<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="form">
            <div class="row">
                <app-breadcrumb view="create"></app-breadcrumb>
                <div class="col-md-12 mt-3">
                    <!--<app-buttons-link view="create"></app-buttons-link>-->
                </div>
                <div class="col-md-12 mt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Crear grupo de clientes</h1>
                        </div>
                        <div class="col-md-6">
                            <div class="text-right">
                                <button mat-raised-button type="button" (click)="clearForm()"
                                    class="btn btn-fill btn-rose">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                    Limpiar formulario
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<app-breadcrumb view="create"></app-breadcrumb>-->
                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-text">
                            <div class="card-text">
                                <h4 class="card-title">Datos del grupo</h4>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row d-flex px-4 mx-4">
                                <div class="col-sm-12">
                                    <mat-form-field class="example-full-width">
                                        <!--<label>Nombre del grupo</label>-->
                                        <input matInput formControlName="nombre_grupo" placeholder="Nombre del grupo"
                                            type="text">
                                        <mat-error *ngIf="form.get('nombre_grupo').hasError('required')">
                                            El nombre del grupo es requerido
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row ml-4 pl-4 mt-3">
                                <div class="col-sm-8">
                                    <label for="">Clientes</label> <br>
                                    <button mat-raised-button type="button" class="btn btn-fill btn-success"
                                        data-toggle="modal" data-target="#modalCliente">Agregar
                                        Cliente</button>
                                    <button mat-raised-button type="button" class="btn btn-fill btn-danger"
                                        (click)="deleteCliente()">Retirar
                                        Cliente</button>
                                </div>
                            </div>
                            <div class="row ml-4 pl-4 mt-2">
                                <div class="col-sm-12">
                                    <p-table [globalFilterFields]="['razon_social', 'razon_social', 'nit', 'pais']" id="tableClientesAgregados" #tableClientesAgregados
                                        [value]="clientesAgregados" [paginator]="true" [rows]="10">
                                        <ng-template pTemplate="caption">
                                            <div class="flex">
                                                <div class="row">
                                                    <div class="col d-flex flex-row-reverse">
                                                        <span class="p-input-icon-left ml-auto">
                                                            <input pInputText type="text" class="form-control"
                                                                (input)="tableClientesAgregados.filterGlobal($event.target.value, 'contains')"
                                                                placeholder="Busqueda Global" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-col>
                                            <tr [pSelectableRow]="clientesSelects">
                                                <th style="width: 4rem">
                                                    <p-tableHeaderCheckbox (click)="selectAll(clientesAgregados)"></p-tableHeaderCheckbox>
                                                </th>
                                                <th pSortableColumn="razon_social">
                                                    Razón Social
                                                    <p-sortIcon field="razon_social"></p-sortIcon>
                                                    <p-columnFilter type="text" field="razon_social" display="menu">
                                                    </p-columnFilter>
                                                </th>
                                                <th pSortableColumn="razon_social">
                                                    Razón Comercial
                                                    <p-sortIcon field="razon_comercial"></p-sortIcon>
                                                    <p-columnFilter type="text" field="razon_comercial" display="menu">
                                                    </p-columnFilter>
                                                </th>
                                                <th pSortableColumn="nit">
                                                    Nit
                                                    <p-sortIcon field="nit"></p-sortIcon>
                                                    <p-columnFilter type="text" field="nit" display="menu">
                                                    </p-columnFilter>
                                                </th>
                                                <th pSortableColumn="pais">
                                                    País
                                                    <p-sortIcon field="pais"></p-sortIcon>
                                                    <p-columnFilter type="text" field="pais" display="menu">
                                                    </p-columnFilter>
                                                </th>
                                                <th>
                                                    Cliente Principal
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-col>
                                            <tr [pSelectableRow]="col">
                                                <td>
                                                    <p-tableCheckbox (click)="selectClient(col)" [value]="col">
                                                    </p-tableCheckbox>
                                                </td>
                                                <td>
                                                    {{ col.razon_social }}
                                                </td>
                                                <td>
                                                    {{ col.razon_comercial }}
                                                </td>
                                                <td>
                                                    {{ col.nit}}
                                                </td>
                                                <td>
                                                    {{ col.pais }}
                                                </td>
                                                <td class="text-center">
                                                    <!--<p-radioButton name="principal" [value]="col.id" [(ngModel)]="principalSelected" class="radio-opt" (click)="deselectPrincipal(col.id)"></p-radioButton>-->
                                                    <!--<p-radioButton class="radio-opt"></p-radioButton>-->
                                                    <input type="radio" name="principal" (click)="selectPrincipal(col.id)"/>
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="paginatorcenter">
                                            <button type="button" pButton icon="pi-cloud-upload"></button>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-3">
                    <div class="text-center">
                        <button mat-raised-button type="button" (click)="sendForm()" [disabled]="clientesAgregados.length === 0" class="btn btn-fill btn-primary">
                            <span class="material-symbols-outlined mr-1">
                                send
                            </span>
                            Crear
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- modals del componente -->
<!-- modal pais -->
<div id="modalCliente" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h4 class="modal-title text-left" id="exampleModalLabel"><b>Agregar Clientes</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <p-table [globalFilterFields]="['razon_social', 'razon_social', 'nit', 'pais']" id="tableAgregarCliente" #tableAgregarCliente
                        [value]="clientes" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="caption">
                            <div class="flex">
                                <div class="row">
                                    <div class="col d-flex flex-row-reverse">
                                        <span class="p-input-icon-left ml-auto">
                                            <input pInputText type="text" class="form-control"
                                                (input)="tableAgregarCliente.filterGlobal($event.target.value, 'contains')"
                                                placeholder="Búsqueda Global" />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-col>
                            <tr [pSelectableRow]="clientes">
                                <th style="width: 4rem">
                                    <p-tableHeaderCheckbox (click)="selectAllSend(clientes)">
                                    </p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="razon_social">
                                    Razón social
                                    <p-sortIcon field="razon_social"></p-sortIcon>
                                </th>
                                <th pSortableColumn="razon_comercial">
                                    Razón comercial
                                    <p-sortIcon field="razon_comercial"></p-sortIcon>
                                </th>
                                <th pSortableColumn="nit">
                                    NIT
                                    <p-sortIcon field="nit"></p-sortIcon>
                                </th>
                                <th pSortableColumn="pais">
                                    País
                                    <p-sortIcon field="pais"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-col>
                            <tr [pSelectableRow]="col">
                                <td>
                                    <p-tableCheckbox (click)="selectClientsSend(col)" [value]="col"></p-tableCheckbox>
                                </td>
                                <td>
                                    {{ col.razon_social }}
                                </td>
                                <td>
                                    {{ col.razon_comercial }}
                                </td>
                                <td>
                                    {{ col.nit }}
                                </td>
                                <td>
                                    {{ col.pais }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorcenter">
                            <button type="button" pButton icon="pi-cloud-upload"></button>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-3" data-dismiss="modal"
                    (click)="cancelModal()">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="aceptModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
