<div>
    <button (click)="router.navigate(['mensajes/creation']);" mat-raised-button class="btn btn-success mr-4">
        <span class="material-symbols-outlined mr-2">
            tips_and_updates
        </span>
        Creación de mensajes
        <span class="material-symbols-outlined ml-3">
            arrow_forward_ios
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
            99+
        </span>
    </button>
    <button (click)="router.navigate(['mensajes/aprobacion']);" mat-raised-button class="btn btn-info">
        <span class="material-symbols-outlined mr-2">
            thumb_up
        </span>
        Aprobación mensajes
        <span class="material-symbols-outlined ml-3">
            arrow_forward_ios
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
            99+
        </span>
    </button>
    <button (click)="router.navigate(['mensajes/validacion']);" mat-raised-button class="btn button-yellow ml-4">
        <span class="material-symbols-outlined mr-2">
            playlist_add_check
        </span>
        Ver programación
        <span class="material-symbols-outlined ml-3">
            arrow_forward_ios
        </span>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-danger">
            99+
        </span>
    </button>
</div>