.button-yellow{
    background-color: #FEDD56 !important;
}

.shadow {
    box-shadow: 2px 0.2rem 8px rgba(13, 12, 12, 0.6) !important;
}

.btn {
    border-radius: 20px !important;
    font-size: 1rem !important;
}

.width-btn {
    width: 326px;
}