<div class="row justify-content-md-center">
    <div class="col-md-10 mt-4">
        <h3>Asignación de Puntos</h3>
    </div>
    <div class="col-md-10 mt-4">
        <div class="card-body">
            <div class="material-datatables">
              <p-table #tableBranchFacility [columns]="cols" [value]="points"
                [paginator]="true" [rows]="10">
                <ng-template pTemplate="caption">
                  <div class="flex">
                    <div class="row">
                      <div class="col">
                        
                      </div>
                      <div class="col d-flex flex-row-reverse">
                        <span class="p-input-icon-left ml-auto">
                          <input pInputText type="text" class="form-control"
                            (input)="tableBranchFacility.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar" />
                        </span>
                      </div>
                    </div>
                  </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th [pSortableColumn]="col.field" *ngFor="let col of columns">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                      <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-point>
                  <ng-container>
                    <tr style="cursor: pointer;">
                        <td class="text-center">
                          <p-radioButton name="puntoRadio" [value]="point.id" [(ngModel)]="puntoSelect"></p-radioButton>
                        </td>
                        <td>
                          {{ point.id }}
                        </td>
                        <td>
                            {{ point.contratos[0].contrato.sucursal_instalacion.nombre }}
                        </td>
                        <td>
                            {{ point.contratos[0].contrato.sucursal_instalacion.regionales_ciudades.regionales.nombre }}
                        </td>
                    </tr>
                  </ng-container>
                </ng-template>
                <ng-template pTemplate="paginatorcenter">
                  <button type="button" pButton icon="pi-cloud-upload"></button>
                </ng-template>
              </p-table>
            </div>
          </div>
    </div>
    <div class="col-md-10 mt-4">
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4 rounded shadow" (click)="next1()" [disabled]="puntoSelect === null">
                Siguiente
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
    </div>
</div>