<div class="row justify-content-md-center">
    <div class="col-md-10 mt-4">
        <table class="w-100">
            <tr>
                <td class="border border-dark text-center" style="width: 15%"></td>
                <td class="border border-dark text-center" style="width: 20%"><h3>Punto</h3></td>
                <td class="border border-dark text-center" style="width: 35%"><h3>Sucursal</h3></td>
                <td class="border border-dark text-center" style="width: 30%"><h3>Regional</h3></td>
            </tr>
            <tr>
                <td class="text-center border border-dark py-3">
                    <input type="checkbox"/>
                </td>
                <td class="text-center border border-dark">fds</td>
                <td class="text-center border border-dark">fds</td>
                <td class="text-center border border-dark">fds</td>
            </tr>
        </table>
    </div>
    <div class="col-md-10 mt-4">
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4">
                Siguiente
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
    </div>
</div>