<h3 class="mt-4">Módulos disponibles</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card min-358">
            <div class="card-body stats">
                
                <p class="text-center mt-4">
                    <img src="./assets/img/7.horas fijas.png" class="icon"/>
                </p>
                <h5>{{ titleTree1 }}</h5>
                <hr/>
                <ul>
                    <li>Impacto Diarios, Incluyendo Flexibilidad en Día, Fecha y Hora de Emisión.</li>
                </ul>
                <p class="text-center">
                    <button mat-raised-button class="btn shadow rounded2 button-green ml-4" (click)="horas_fijas()">
                        Empezar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card min-358">
            <div class="card-body stats">
                <p class="text-center mt-4">
                    <img src="./assets/img/8.secuencia.png" class="icon"/>
                </p>
                <h5>{{ titleTree2 }}</h5>
                <hr/>
                <ul>
                    <li>Programación por Rango de Horario con Frecuencia de Mensajes.</li>
                </ul>
                <p class="text-center">
                    <button mat-raised-button class="btn shadow rounded2 button-green ml-4" (click)="secuencia()">
                        Empezar
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card min-358">
            <div class="card-body stats">
                <p class="text-center mt-4">
                    <img src="./assets/img/9.locutor virtual.png" class="icon"/>
                </p>
                <h5>{{ titleTree3 }}</h5>
                <hr/>
                <ul>
                    <li>Impacto por Hora, Sin Compromiso de Hora Fija.</li>
                </ul>
                <p class="text-center">
                    <button mat-raised-button class="btn shadow rounded2 button-green ml-4" (click)="locutor_virtual()">
                        Empezar
                    </button>
                </p>
            </div>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <p class="text-center">
            <button mat-raised-button class="btn button-yellow ml-4" (click)="atras()">
                <span class="material-symbols-outlined ml-3">
                    arrow_back_ios
                </span>
                Atras
            </button>
        </p>
    </div>
</div>
