.icon {
    max-width: 100px;
}
.button-green {
    background: #50c981 !important;
}
.button-yellow{
    background-color: #FEDD56 !important;
}
.rounded2 {
    border-radius: 20px !important;
}
.rounded {
    border-radius: 10px !important;
}

@media (min-width: 600px) 
{
    .min-358 {
        min-height: 490px;
    }
}

@media (min-width: 800px) 
{
    .min-358 {
        min-height: 358px;
    }
}

.shadow {
    box-shadow: 2px 0.2rem 8px rgba(13, 12, 12, 0.6) !important;
}