<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-breadcrumb view="home"></app-breadcrumb>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-10">
                                <h1>Voice Experience</h1>
                                <p>Voces que encantan, voces que enamoran.</p>
                            </div>
                        </div>
                        <div class="row">
                            <app-main-buttons class="col-8 mx-auto d-flex justify-content-center"></app-main-buttons>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h2>Panel de control</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body stats">
                                        <h5>Estado mensajes</h5>
                                        <app-stats-panel class="row">
                                        </app-stats-panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <h2>Solicitudes de mensaje</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 mx-auto d-flex justify-content-center">
                                <div class="card">
                                    <div class="card-body stats">
                                        <h5>Estado mensajes</h5>
                                        <app-dashboard class="row"></app-dashboard>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>