.menu .menu2.open {
    transform: translateX(0);
}
  
.title-menu {
    padding-top: 250px;
}

.menu a {
    color: #333;
    text-decoration: none;
}

.menu {
    position: fixed;
    top: 20px;
    right: 20px; /* Cambia la posición a la derecha */
    z-index: 1000;
    /*
    width: 100vw;
    height: 100vh;*/
  }
  
button.menu-icon {
    font-size: 34px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    right: -5px;
    /*top: 40px;*/
    color: #000;
  }
  
/*
  button.menu-icon {
    font-size: 34px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: -5px;
  }
  */
button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.options li a {
  line-height: 1.2;
}
@media (min-width: 1024px)
{
  .menu .menu2 {
    width: 50vw !important;
    height: 90vh !important;
    border-radius: 30px;
  }
}
.menu .menu2 {    
    background-color: #f2f2f2;
    padding: 20px;
    width: 100vw;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    height: 100vh;
    overflow-y: scroll;
}

.options {
  list-style: none;
  color: #333;
  /*margin-top: 5rem;*/
  }
  .options2 {
    list-style: none;
    color: #333;
  }
  .options li {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .lineas-musicar {
    margin-top: 0px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  /*
  .options li a:hover {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;
  }
  */
  .options2 li {
    font-size: 2rem;
    margin-bottom: 2rem;
    
  }
  @media (max-width: 768px) {
    .col-responsive {
        height: auto;
        border:unset;
    }
    .options li {
        font-size: 3rem;
        margin-bottom: 2.5rem;
    }

    .options2 li {
        font-size: 1.3rem;
    }

    .options {
        list-style: none;
        color: #333;
        margin-top: 3rem;
    }
    .title-menu {
        padding-top: 0px;
    }
    .options li {
      font-size: 1.5rem;
    }
  }
  .menu-opciones-derecha {
    margin-top: 5rem !important;
  }
  
  @media (max-height: 768px) and (max-width: 1400px) {
    .menu-opciones-derecha {
      margin-top: 20px !important;
    }
    .options2 li {
      font-size: 1.5rem;
      margin-bottom: 0.7rem;
    }
    .options li {
      font-size: 1.7rem;
      margin-bottom: 1.5rem;
    }
    .title-menu {
      padding-top: 100px;
    }
  }
  .logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .logo a img {
    width: 200px;
  }
  @media (max-width: 850px) {
    .icono-footer {
        height: 35px;
    }
    .logo a img {
      width: 120px;
    }
  }
  @media (min-width: 851px) {
    .icono-footer {
      height: 50px;
    }
  }