<div class="row justify-content-md-center">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="card flex justify-content-center mt-4 p-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Portafolio: {{categoria_nombre}}</h2>
                        </div>
                                              
                        <div class="col-md-12 text-center">
                            <table class="w-100">
                                <tr>
                                    <td>#</td>
                                    <td></td>
                                    <td>Título</td>
                                    <td></td>
                                    <td>Tiempo</td>
                                    <td></td>
                                </tr>
                                <audio #audioPlayer controls class="" (ended)="onAudioEnded()" class="d-none">
                                    <source [src]="audioUrl" type="audio/mpeg">
                                  Your browser does not support the audio element.
                                  </audio>
                                  tiempo: {{tiempo_duracion}}
                                <tr *ngFor="let audio of audios; let idx = index;" [ngClass]="{'audio-selected': idx === optionSelected, 'sound-row':true}">
                                    <td><span [ngClass]="{'select-green': idx === reproduciendo_id }">{{idx}}</span></td>
                                    <td><i class="pi pi-play audio-opt" (click)="play(idx)"></i> <i class="pi pi-pause audio-opt" (click)="pause(idx)"></i></td>
                                    <td><span [ngClass]="{'select-green': idx === reproduciendo_id }">{{audio.mensajes.nombre}}</span></td>
                                    <td class="text-center">
                                        <img src="/assets/img/audio-effect.png" width="100"/>
                                    </td>
                                    <td><span [ngClass]="{'select-green': idx === reproduciendo_id }">{{ audio.tiempo }}</span></td>
                                    <td><input type="radio" name="audio" [value]="idx" [(ngModel)]="optionSelected" class="radio-opt" (click)="deselectRadio(idx)"/></td>
                                </tr>
                                
                            </table>
                        </div>
                        
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-6 text-center">
                        <button mat-raised-button class="btn btn-back rounded shadow" (click)="atras()" [disabled]="optionSelected !== null">
                            <span class="material-symbols-outlined ml-3">
                                arrow_back_ios
                            </span>
                            Atras
                        </button>
                    </div>
                    <div class="col-6 text-center">
                        <button mat-raised-button class="btn btn-siguiente rounded shadow" [disabled]="optionSelected === null" (click)="next()">
                            Siguiente
                            <span class="material-symbols-outlined ml-3">
                                arrow_forward_ios
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>