.audio-selected {
    box-shadow: 2px 2px 9px;
    background: #fff !important;
    border-bottom: 1px solid !important;
}
.sound-row {
    border: 1px solid #eee;
    background: #ddd;
}
.audio-opt {
    color: #555;
    cursor: pointer;
    /*background: #fff !important;*/
}

.btn-siguiente { 
    background-color: #1ac1e8 !important; 
}

.btn-back { 
    background-color: #FEDD56 !important; 
}
.radio-opt {
    cursor: pointer;
}
.rounded {
    border-radius: 10px !important;
}