<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-breadcrumb view="home"></app-breadcrumb>
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-12">
                                <h1>Voice Experience</h1>
                                <p>Voces que encantan, voces que enamoran.</p>
                            </div>
                            <div class="col-12">
                                <h1 class="text-center">Información</h1>
                                <p-steps [model]="items" [readonly]="true" [activeIndex]="3"></p-steps>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card flex justify-content-center mt-4 p-4">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h2>Portafolio: {{categoria_nombre}}</h2>
                                                        </div>
                                                        <div class="col-md-12 text-center">
                                                            <table class="w-100">
                                                                <tr>
                                                                    <td>#</td>
                                                                    <td></td>
                                                                    <td>Título</td>
                                                                    <td></td>
                                                                    <td>Tiempo</td>
                                                                    <td></td>
                                                                </tr>
                                                                <tr class="audio-playing sound-row">
                                                                    <td>01</td>
                                                                    <td><i class="pi pi-play audio-opt"></i> <i class="pi pi-pause audio-opt"></i></td>
                                                                    <td>nombre_archivo_1</td>
                                                                    <td class="text-center">
                                                                        <img src="/assets/img/audio-effect.png" width="100"/>
                                                                    </td>
                                                                    <td>00:50</td>
                                                                    <td>radio</td>
                                                                </tr>
                                                                <tr class="sound-row">
                                                                    <td>02</td>
                                                                    <td><i class="pi pi-play audio-opt"></i> <i class="pi pi-pause audio-opt"></i></td>
                                                                    <td>nombre_archivo_2</td>
                                                                    <td class="text-center">
                                                                        <img src="/assets/img/audio-effect.png" width="100"/>
                                                                    </td>
                                                                    <td>00:50</td>
                                                                    <td>radio</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-6 text-center">
                                                        <button mat-raised-button class="btn btn-back ml-4">
                                                            <span class="material-symbols-outlined ml-3">
                                                                arrow_back_ios
                                                            </span>
                                                            Atras
                                                        </button>
                                                    </div>
                                                    <div class="col-6 text-center">
                                                        <button mat-raised-button class="btn btn-siguiente ml-4">
                                                            Siguiente
                                                            <span class="material-symbols-outlined ml-3">
                                                                arrow_forward_ios
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
