<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <div class="card flex justify-content-center my-4 p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="d-block">Desde</label>
                            <p-calendar class="w-100" [(ngModel)]="fromDate" [maxDate]="toDate" dateFormat="dd/mm/yy" placeholder="Desde"></p-calendar>
                        </div>
                        <div class="col-md-6">
                            <label class="d-block">Hasta</label>
                            <p-calendar class="w-100" [(ngModel)]="toDate" [minDate]="fromDate" dateFormat="dd/mm/yy" placeholder="Hasta"></p-calendar>                            
                        </div>
                        <div class="col-md-12 px-4 mt-4 text-center">
                            <p-selectButton [options]="daysOfWeek" [(ngModel)]="daysOfWeekVal" [multiple]="true" optionLabel="label" optionValue="value" class="daysofweeks"></p-selectButton>
                        </div>
                        
                        <div class="col-md-12 p-4">
                            <p>
                                <p-radioButton name="feriados" value="1" inputId="sinfestivos" [(ngModel)]="tipo_de_dias"></p-radioButton>
                                <label for="sinfestivos" class="ml-2 mb-0">Sin Festivos</label>
                            </p>
                            <p>
                                <p-radioButton name="feriados" value="2" inputId="confestivos" [(ngModel)]="tipo_de_dias"></p-radioButton>
                                <label for="confestivos" class="ml-2 mb-0">Con Festivos</label>
                            </p>
                            <p>
                                <p-radioButton name="feriados" value="3" inputId="solofestivos" [(ngModel)]="tipo_de_dias"></p-radioButton>
                                <label for="solofestivos" class="ml-2 mb-0">Solo días Festivos</label>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-7">
                <div class="card flex justify-content-center my-4 p-4">
                    <div class="row">
                        <div class="col-md-8 text-center order-sm-1 order-md-0">
                            <div class="row">
                                <div class="col-6 px-0">
                                    <p *ngFor="let elemento of horas.slice(0, 11); let idx = index;">
                                        <!-- Aquí puedes mostrar los elementos como desees -->
                                        <p-checkbox [(ngModel)]="elemento.checked" [label]="elemento.time" [binary]="true" inputId="binary"></p-checkbox>
                                        
                                        <p-dropdown *ngIf="elemento.pico === 1" [(ngModel)]="elemento.pauta" [options]="pautasPico" optionLabel="name"></p-dropdown> 
                                        <p-dropdown *ngIf="elemento.pico === 0" [(ngModel)]="elemento.pauta" [options]="pautasNoPico" optionLabel="name"></p-dropdown>

                                        <span *ngIf="elemento.pico === 1" class="material-symbols-outlined ml-2" style="color: red !important">
                                            radio_button_checked
                                            </span>
                                        <span *ngIf="elemento.pico === 0" style="width: 32px; display: inline-block;"></span>
                                    </p>
                                </div>
                                <div class="col-6 px-0">
                                    <p *ngFor="let elemento of horas.slice(11)">
                                        <!-- Aquí puedes mostrar los elementos como desees -->
                                        <p-checkbox [(ngModel)]="elemento.checked" [label]="elemento.time" [binary]="true" inputId="binary"></p-checkbox>
                                        
                                        <p-dropdown *ngIf="elemento.pico === 1" [(ngModel)]="elemento.pauta" [options]="pautasPico" optionLabel="name"></p-dropdown> 
                                        <p-dropdown *ngIf="elemento.pico === 0" [(ngModel)]="elemento.pauta" [options]="pautasNoPico" optionLabel="name"></p-dropdown>
                                        <span *ngIf="elemento.pico === 1" class="material-symbols-outlined ml-2" style="color: red !important">
                                            radio_button_checked
                                            </span>
                                            <span *ngIf="elemento.pico === 0" style="width: 32px; display: inline-block;"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center order-sm-0 order-md-1">
                            <div class="row mb-4">
                                <div class="col-6 col-md-12">
                                    <p class="mt-3">Horas Pico</p>
                                    <p>
                                        <span class="material-symbols-outlined ml-2" style="color: red !important">
                                        radio_button_checked
                                        </span> <p-checkbox style="padding-bottom: 5px;" [(ngModel)]="checkHorasPico" [binary]="true" inputId="binary" [(ngModel)]="checkHorasPico" (onChange)="checkHorasPicoChanged()"></p-checkbox><br/> <p-dropdown [options]="pautasPico" (onChange)="setPautasPico($event.value)" optionLabel="name"></p-dropdown>
                                        
                                    </p>
                                </div>
                                <div class="col-6 col-md-12">
                                    <p class="mt-3">
                                        Horas No Pico
                                    </p>
                                    <p>
                                        <p-checkbox style="padding-bottom: 5px;" [(ngModel)]="checkHorasNoPico" [binary]="true" inputId="binary" [(ngModel)]="checkHorasPico" (onChange)="checkHorasNoPicoChanged()"></p-checkbox><br/> <p-dropdown [options]="pautasNoPico" optionLabel="name" [(ngModel)]="nopicoModel" (onChange)="setPautasNoPico($event.value)"></p-dropdown> 
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4 rounded shadow" (click)="next1()" [disabled]="daysOfWeekVal.length === 0">
                Siguiente
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
    </div>
</div>