<div class="row justify-content-md-center">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card flex justify-content-center my-4 p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="d-block">Desde</label>
                            <p-calendar class="w-100" [(ngModel)]="fromDate" [maxDate]="toDate" dateFormat="dd/mm/yy" placeholder="Desde"></p-calendar>
                        </div>
                        <div class="col-md-6">
                            <label class="d-block">Hasta</label>
                            <p-calendar class="w-100" [(ngModel)]="toDate" [minDate]="fromDate" dateFormat="dd/mm/yy" placeholder="Hasta"></p-calendar>                            
                        </div>
                        <div class="col-md-12 px-4 mt-4 text-center">
                            <p-selectButton [options]="daysOfWeek" [(ngModel)]="daySelect" [multiple]="true" optionLabel="label" optionValue="value" class="daysofweeks"></p-selectButton>
                        </div>
                        
                        <div class="col-md-12 p-4">
                            <p>
                                <p-radioButton name="feriados" value="sinfestivos" inputId="sinfestivos" [(ngModel)]="feriados"></p-radioButton>
                                <label for="sinfestivos" class="ml-2 mb-0">Sin Festivos</label>
                            </p>
                            <p>
                                <p-radioButton name="feriados" value="confestivos" inputId="confestivos" [(ngModel)]="feriados"></p-radioButton>
                                <label for="confestivos" class="ml-2 mb-0">Con Festivos</label>
                            </p>
                            <p>
                                <p-radioButton name="feriados" value="solofestivos" inputId="solofestivos" [(ngModel)]="feriados"></p-radioButton>
                                <label for="solofestivos" class="ml-2 mb-0">Solo días Festivos</label>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="card flex justify-content-center my-4 p-4">
                    <div class="row">
                        <div class="col-md-8 text-center order-sm-1 order-md-0">
                            <div class="row">
                                <div class="col-6 mx-0">
                                    <p *ngFor="let elemento of horas.slice(0, 11)">
                                        <!-- Aquí puedes mostrar los elementos como desees -->
                                        <input type="checkbox"/> <span class="mx-1">{{ elemento.time }}</span> <p-dropdown [options]="pautas" optionLabel="name"></p-dropdown> <span *ngIf="elemento.pico === 1" class="material-symbols-outlined ml-2" style="color: red !important">
                                            radio_button_checked
                                            </span>
                                            <span *ngIf="elemento.pico === 0" style="width: 32px; display: inline-block;"></span>
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p *ngFor="let elemento of horas.slice(11)">
                                        <!-- Aquí puedes mostrar los elementos como desees -->
                                        <input type="checkbox"/> <span class="mx-1">{{ elemento.time }}</span> <p-dropdown [options]="pautas" optionLabel="name"></p-dropdown> <span *ngIf="elemento.pico === 1" class="material-symbols-outlined ml-2" style="color: red !important">
                                            radio_button_checked
                                            </span>
                                            <span *ngIf="elemento.pico === 0" style="width: 32px; display: inline-block;"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 text-center order-sm-0 order-md-1">
                            <div class="row mb-4">
                                <div class="col-6 col-md-12">
                                    <p class="mt-3">Horas Pico</p>
                                    <p>
                                        <span class="material-symbols-outlined ml-2" style="color: red !important">
                                        radio_button_checked
                                        </span> <input type="checkbox" class="ml-2 mt-2"/><br/> <p-dropdown [options]="pautas" optionLabel="name"></p-dropdown> 
                                    </p>
                                </div>
                                <div class="col-6 col-md-12">
                                    <p class="mt-3">
                                        Horas No Pico
                                    </p>
                                    <p>
                                        <input type="checkbox"/><br/> <p-dropdown [options]="pautas" optionLabel="name"></p-dropdown> 
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12">
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4" (click)="next1()">
                Siguiente
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4" (click)="next_b()">
                Siguiente b
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4" (click)="next_c()">
                Siguiente c
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
        <p class="text-center">
            <button mat-raised-button class="btn btn-siguiente ml-4" (click)="next_d()">
                Siguiente d
                <span class="material-symbols-outlined ml-3">
                    arrow_forward_ios
                </span>
            </button>
        </p>
    </div>
</div>