<nav *ngIf="view == 'create'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['clientes/list']);">Listar clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Crear clientes</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'list'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['clientes/create']);">Crear clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Listar clientes</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'edit'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['clientes/detail',id]);">Ver cliente</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Editar clientes</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'detail'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['clientes/list']);">Listar clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Ver clientes</b></li>
    </ol>
</nav>