<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-breadcrumb view="aprobacion"></app-breadcrumb>
            <div class="col-md-12" [ngClass]="{'d-none': step === 'step2'}">
                <div class="card ">
                    <div class="card-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-12">
                                <img src="/assets/img/logo-musicar.png" width="200"/>
                                <h1><strong>Voice Experience</strong></h1>
                                <p>Voces que encantan, voces que enamoran.</p>
                            </div>
                            <div class="col-12">
                                <h2>Aprobación Mensajes</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1" (click)="approve(1)">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1" (click)="approve(1)">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1" (click)="approve(1)">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1" (click)="approve(1)">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                            <div class="col-md-2 col-6">
                                <p class="text-center border pt-2">
                                    <span class="material-symbols-outlined play">
                                        play_circle
                                    </span>
                                </p>
                                <p><strong>Referencia:</strong> refencia_mensaje_1</p>
                                <p><strong>Id:</strong> 123</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-5">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <button mat-raised-button class="btn btn-back ml-4 rounded shadow" (click)="router.navigate(['mensajes/home']);">
                                            <span class="material-symbols-outlined ml-3">
                                                arrow_back_ios
                                            </span>
                                            Atras
                                        </button>
                                    </div>
                                    <div class="col-6 text-center">
                                        <button mat-raised-button class="btn btn-siguiente ml-4 rounded shadow">
                                            Siguiente
                                            <span class="material-symbols-outlined ml-3">
                                                arrow_forward_ios
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" [ngClass]="{'d-none': step === 'step1'}">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="d-block">Id</label>
                                        <input type="text" class="w-100" pInputText [(ngModel)]="id" disabled="disabled"/>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="d-block">Referencia</label>
                                        <input type="text" class="w-100" pInputText [(ngModel)]="referencia" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label class="d-block">Texto</label>
                                <textarea rows="5" class="w-100" cols="30" pInputTextarea [autoResize]="true" disabled="disabled">{{texto}}</textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="card ">
                                    <div class="card-header card-header-text">
                                        <div class="card-text bg-white">
                                            <h4 class="card-title text-dark font-weight-bold">Audio</h4>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <audio controls>
                                            <source src="/assets/audio/archivo1.mp3" type="audio/mpeg">
                                            Your browser does not support the audio tag.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <button mat-raised-button class="btn ml-4 rounded aprobar" pButton pRipple (click)="approve2()">
                                            <span class="material-symbols-outlined">
                                                check_circle
                                            </span>
                                            Aprobar
                                        </button>
                                    </div>
                                    <div class="col-6 text-center">
                                        <button mat-raised-button class="btn btn-siguiente ml-4 rounded devolver" pButton pRipple (click)="restore()">
                                            <span class="material-symbols-outlined ml-3">
                                                close
                                            </span>
                                            Devolver
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4 text-center">
                                <button mat-raised-button class="btn btn-back ml-4 rounded" (click)="back()">
                                    <span class="material-symbols-outlined ml-3">
                                        arrow_back_ios
                                    </span>
                                    Atras
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
