<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <app-breadcrumb view="aprobacion"></app-breadcrumb>
            <div class="col-md-12" [ngClass]="{'d-none': step === 'step2'}">
                <div class="card ">
                    <div class="card-body">
                        <div class="row mb-4 mt-3">
                            <div class="col-12">
                                <a href="/#/mensajes/home"><img src="/assets/img/logo-musicar.png" width="200"/></a>
                                <h1 class="h1-responsive"><strong>Voice Experience</strong></h1>
                                <p>Voces que encantan, voces que enamoran.</p>
                            </div>
                            <div class="col-12">
                                <h2>Aprobación Mensajes</h2>
                            </div>
                        </div>
                        <div class="row">
                            <audio #audioPlayer controls class="borderAudio" (ended)="onAudioEnded()" class="d-none">
                                <source [src]="audioUrl" type="audio/mpeg">
                              Your browser does not support the audio element.
                              </audio>
                            <div class="col-md-2 col-6" *ngFor="let xAprobar of xaprobarAduios; let idx = index">
                                <p class="text-center border pt-2">
                                    <span *ngIf="xaprobarAduios[idx].playing === false" class="material-symbols-outlined play" (click)="play(idx)">
                                        play_circle
                                    </span>
                                    <span *ngIf="xaprobarAduios[idx].playing === true" class="material-symbols-outlined play" (click)="pause(idx)">
                                        pause_circle
                                    </span>
                                </p>
                                <p style="cursor: pointer" (click)="open(xAprobar.id, xAprobar.nombre, xAprobar.texto, xAprobar.url_audio)"><strong>Referencia:</strong><br/> {{xAprobar.nombre}}</p>
                                <p><strong>Id:</strong> {{xAprobar.id}}</p>
                                <p>
                                    <button mat-raised-button class="btn button-green aprobar py-1" data-toggle="modal" data-target="#modalMensajeAprobado" (click)="aprobarApi(xAprobar.id)">
                                        Aprobar
                                        <span class="material-symbols-outlined">
                                            done
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-5">
                                <div class="row mx-0">
                                    <div class="col-6 text-center px-0">
                                        <button mat-raised-button class="btn btn-back rounded shadow" (click)="router.navigate(['mensajes/home']);">
                                            <span class="material-symbols-outlined ml-3">
                                                arrow_back_ios
                                            </span>
                                            <span class="navBtn">Atras</span>
                                        </button>
                                    </div>
                                    <div class="col-6 text-center px-0">
                                        <button mat-raised-button class="btn btn-siguiente rounded shadow">
                                            <span class="navBtn">Siguiente</span>
                                            <span class="material-symbols-outlined ml-3">
                                                arrow_forward_ios
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12" [ngClass]="{'d-none': step === 'step1'}">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="d-block">Id</label>
                                        <input type="text" class="w-100" pInputText [(ngModel)]="id" disabled="disabled"/>
                                    </div>
                                    <div class="col-md-10">
                                        <label class="d-block">Referencia</label>
                                        <input type="text" class="w-100" pInputText [(ngModel)]="referencia" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <label class="d-block">Texto</label>
                                <textarea rows="5" class="w-100" cols="30" pInputTextarea [autoResize]="true" disabled="disabled">{{texto}}</textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="card ">
                                    <div class="card-header card-header-text">
                                        <div class="card-text bg-white">
                                            <h4 class="card-title text-dark font-weight-bold">Audio</h4>
                                        </div>
                                    </div>
                                    <div class="card-body text-center">
                                        <audio #audioPlayer2 controls class="borderAudio shadow">
                                            <source src="" type="audio/mpeg">
                                            Your browser does not support the audio tag.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-5">
                                <div class="row">
                                    <div class="col-6 text-center">
                                        <button mat-raised-button class="btn ml-4 rounded aprobar shadow" pButton pRipple data-toggle="modal" data-target="#modalMensajeAprobado">
                                            <span class="material-symbols-outlined">
                                                check_circle
                                            </span>
                                            Aprobar
                                        </button>
                                    </div>
                                    <div class="col-6 text-center">
                                        <button mat-raised-button class="btn btn-siguiente ml-4 rounded devolver shadow" pButton pRipple data-toggle="modal" data-target="#modalDevolver">
                                            <span class="material-symbols-outlined ml-3">
                                                close
                                            </span>
                                            Devolver
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-4 text-center">
                                <button mat-raised-button class="btn btn-back ml-4 rounded shadow" (click)="back()">
                                    <span class="material-symbols-outlined ml-3">
                                        arrow_back_ios
                                    </span>
                                    Atras
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- modal mensaje aprobado -->
<div id="modalMensajeAprobado" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h4 class="modal-title text-left" id="exampleModalLabel"><b>Aprobado</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>El mensaje se ha aprobado</p>
            </div>
        </div>
    </div>
</div>

<!-- modal devolver -->
<div id="modalDevolver" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mb-3">
                <h4 class="modal-title text-left" id="exampleModalLabel"><b>Devolución Mensaje</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formModalDevolver">
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Motivo de devolución" name="typeMotivo"
                                formControlName="motivo_devolucion">
                                <mat-option *ngFor="let tMotivo of typeMotivo" [value]="tMotivo">
                                    {{ tMotivo.tipo_contacto }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formModalDevolver.get('motivo_devolucion').hasError('required')">
                                El motivo de devolución es requerido
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field class="example-full-width">
                            <textarea formControlName="observaciones" placeholder="Observaciones" matInput
                                cols="30" rows="10"></textarea>
                        </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-3" data-dismiss="modal"
                    (click)="cancelModal()">Cancelar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="aceptModal()">Aceptar</button>
            </div>
        </div>
    </div>
</div>