<div *ngIf="view == 'list' || view == 'create'" class="text-left">
    <button mat-raised-button type="button" (click)="router.navigate(['contratos/list']);"
        class="btn btn-transparent btn-primary-outline mr-2">
        Contratos
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" class="btn btn-transparent btn-primary-outline mr-2">
        Grupo puntos
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" (click)="router.navigate(['equipos/list']);"
        class="btn btn-transparent btn-primary-outline">
        Equipos
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
</div>

<div *ngIf="view == 'detail' || view=='edit' " class="text-left">
    <button mat-raised-button type="button" class="btn btn-transparent btn-primary-outline mr-2">
        Crear grupo punto
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" class="btn btn-transparent btn-primary-outline mr-2">
        Ver grupo punto
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" (click)="router.navigate(['equipos/create']);"
        class="btn btn-transparent btn-primary-outline mr-2">
        Crear equipo
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" (click)="router.navigate(['equipos/list']);"
        class="btn btn-transparent btn-primary-outline mr-2">
        Ver equipos
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" class="btn btn-transparent btn-primary-outline mr-2">
        Crear usuario
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
    <button mat-raised-button type="button" class="btn btn-transparent btn-primary-outline mr-2">
        Ver usuario
        <span class="material-symbols-outlined">
            display_external_input
        </span>
    </button>
</div>