<div class="main-content" *ngIf="images.length > 0" [style.background]="images[itemUnderline].color">
  <div class="logo">
    <img src="/assets/img/logo-musicar-white.png" width="200"/>
  </div>
  <div class="menu">
    <div class="menu2" [ngClass]="{'open': isMenuOpen}">
      
      <div class="row menu-opciones-derecha">
        <div class="col-md-6">
          <h3 class="lineas-musicar">Lineas musicar</h3>
          <ul class="options">
            <li>
              <a href="/#/mensajes/home">Voice Experience</a>
            </li>
            <li>
              <a href="">Musical Experience</a>
            </li>
            <li>
              <a href="">Visual Experience</a>
            </li>
            <li>
              <a href="">Service & Equipment</a>
            </li>
            <li>
              <a href="">Olfa Experience</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-responsive">
          <div class="row">
            <div class="col-6 col-md-12">
              <ul class="options2">
                <li><a href="/#/clientes/list">Clientes</a></li>
                <li><a href="/#/sucursal-instalacion/list">Sucursales</a></li>
                <li><a href="/#/contratos/list">Contratos</a></li>
                <li><a href="/#/puntos/list">Puntos</a></li>
                <li><a href="/#/equipos/list">Equipos</a></li>
                <li><a href="/#/usuarios/list">Usuarios</a></li>
              </ul>
            </div>
            <div class="col-6 col-md-12">
              <ul class="options2">
                <li><a href="">Ubicación</a></li>
                <li><a href="">Encuestas</a></li>
                <li><a href="">Reportes</a></li>
                <li><a href="">Perfil de usuario</a></li>
                <li><a href="/monitor-equipos/list">Monitor</a></li>
                <li><a href="">Chat</a></li>
                <li><a href="" (click)="logout()">Cerrar Sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-none align-items-end">
          <div class="w-100">
          <div class="row">
            <div class="col-md-12 col-4 align-items-center mb-3">
              <a class="" href="https://api.whatsapp.com/send?phone=573009124134&text=Saludo,%20requiero%20una%20asesor%C3%ADa" target="_blank">
                <img class="icono-footer mb-2" src="./assets/img/footer/WhatsApp.footer.png" alt="">
              </a>
              <a class="ml-4" href="https://www.youtube.com/user/MusicarSA" target="_blank">
                <img class="icono-footer" src="./assets/img/footer/Web.footer.png" alt="">
              </a>
            </div>
            <div class="col-md-12 col-8 align-items-center">
              <a class="" href="https://www.facebook.com/MusicarSAS" target="_blank">
                <img class="icono-footer mb-2" src="./assets/img/footer/Facebook.footer.png" alt="">
              </a>
              <a class="ml-4" href="https://www.instagram.com/musicarsas/" target="_blank">
                <img class="icono-footer mb-2" src="./assets/img/footer/Instagram.footer.png" alt="">
              </a>
              <a class="ml-4" href="https://www.linkedin.com/company/musicar-sas/" target="_blank">
                <img class="icono-footer mb-2" src="./assets/img/footer/Linkedin.footer.png" alt="">
              </a>
              <a class="ml-4" href="https://www.youtube.com/user/MusicarSA" target="_blank">
                <img class="icono-footer mb-2" src="./assets/img/footer/Youtuve.footer.png" alt="">
              </a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <button class="menu-icon" (click)="toggleMenu()">
      <span *ngIf="isMenuOpen === true" class="material-symbols-outlined" style="font-size: 80px; color: #fff">
      menu
      </span>
      <span *ngIf="isMenuOpen === false" class="material-symbols-outlined" style="font-size: 80px; color: #aaa">
        close
        </span>
    </button>
  </div>
  
  <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-6 title-menu">
              <div class="row">
                <div class="col-md-12">
                  <h1 class="text-white font-weight-bold text-center aplicacion mb-0 mt-4">CONECTA LOS</h1>
                  <h1 class="text-white font-weight-bold text-center musicar">SENTIDOS</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-center mt-4 show-only-mobile">
                  <img
                    *ngIf="images.length > 0"
                    [src]="images[itemUnderline].src"
                    alt="Image"
                    class="thumbnail"
                  />
                </div>
              </div>
              <div class="row justify-content-center mt-4">
                <div class="carousel-container2">
                  <div class="carousel-item2" *ngFor="let item of visibleCarouselItems; let i = index" [ngClass]="{ 'underlined': itemUnderline === i }">
                    <a [href]="item.url" class="text-white font-weight-bold" style="font-size:18px" [innerHTML]="item.text"></a>
                  </div>
                </div>          
              </div>
              
              <div class="row justify-content-center mt-4">
                <div class="col-2 text-center">
                  <a href="https://www.instagram.com/musicarsas/" target="_blank">
                    <img src="/assets/img/footer/Instagram2.png" style="width:70px"/>
                  </a>
                </div>
                <div class="col-2 text-center">
                  <a href="https://www.facebook.com/MusicarSAS" target="_blank">
                    <img src="/assets/img/footer/Facebook2.png" style="width:70px"/>
                  </a>
                </div>
                <div class="col-2 text-center">
                  <a href="https://www.linkedin.com/company/musicar-sas/" target="_blank">
                    <img src="/assets/img/footer/Linkedin2.png" style="width:70px"/>
                  </a>
                </div>
                <div class="col-2 text-center">
                  <a href="https://www.youtube.com/user/MusicarSA" target="_blank">
                    <img src="/assets/img/footer/Youtube2.png" style="width:70px"/>
                  </a>
                </div>
              </div>
          </div>
          <div class="col-md-6 text-center mt-4 show-only-pc">
            <img
              *ngIf="images.length > 0"
              [src]="images[itemUnderline].src"
              alt="Image"
              class="thumbnail"
            />
          </div>
      </div>
      <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=573009124134&text=Saludo,%20requiero%20una%20asesor%C3%ADa"><img src="/assets/img/whatsapp.png"></a>
      </div>
  </div>
</div>