<nav *ngIf="view == 'home'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Mensajes</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'creation'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Creación</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'formulario'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Contenido</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'horas_fijas' || view == 'secuencia' || view == 'rushhours'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Programación</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'puntos' || view == 'grupo' || view == 'regional'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Puntos</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'resumen'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Resumen</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'validacion'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Validación</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'aprobacion'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active" aria-current="page"><b> Aprobación</b></li>
    </ol>
</nav>
<nav *ngIf="view == 'briefcase'" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item pointer"><a (click)="router.navigate(['mensajes/home']);">Mensajes</a></li>
        <li class="breadcrumb-item active pointer" aria-current="page" (click)="formulario()">Contenido</li>
        <li class="breadcrumb-item active" aria-current="page"><b> Portafolio</b></li>
    </ol>
</nav>
