<p class="text-center mt-4">
    <img src="./assets/img/4.alert.png" class="icon"/>
</p>
<h1 class="text-center">Información</h1>
<p class="text-center mb-0">En este momento no es posible realizar más solicitudes de mensajes debido a que alcanzaste la cuota máxima del mes.</p>    
<p class="text-center">Por favor, ponte en contacto con tu asesor(a) comercial si tienes alguna inquietud.</p>
<p class="text-center">
    <button mat-raised-button class="btn button-yellow ml-4">
        <span class="material-symbols-outlined ml-3">
            arrow_back_ios
        </span>
        Atras
    </button>
</p>