<div class="main-content d-flex align-items-center">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4" style="max-width: 519px;">
            
            <form class="border p-5">
                <div class="text-center">
                    <a href="/"><img src="/assets/img/logo-musicar-white.png" width="200"/></a>
                </div>
                <h1 class="h2 text-white font-weight-bold">¿Olvidó contraseña?</h1>
                <p class="text-white">Recibirás un correo para cambiar la contraseña</p>
                <div class="input-group mb-3 bg-btn1 py-2 mt-4">
                    <span class="input-group-text text-white" id="basic-addon1"><i class="material-icons">person</i></span>
                    <input
                    type="text"
                    class="form-control not_underline text-white"
                    placeholder="Usuario"
                    aria-label="Usuario"
                    aria-describedby="basic-addon1"
                    />
                </div>
                <div class="input-group mb-3 bg-btn1 py-2">
                    <span class="input-group-text text-white" id="basic-addon1"><i class="material-icons">mail</i></span>
                    <input
                    type="email"
                    class="form-control not_underline text-white"
                    placeholder="Correo"
                    aria-label="Correo"
                    />
                </div>
                
                <div class="text-center my-3 mt-4">
                    <button type="submit" class="btn btn-primary bg-btn1" style="padding: 12px 70px; border-width:0px; background: linear-gradient(to right, #51ddfb, #58bfe6, #1a7cbe);" (click)="submitHandle()">Solicitar Cambio</button>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="text-center">
                            <a href="" class="text-white font-weight-bold"><i class="material-icons">chevron_left</i> Regresar</a>
                        </p>
                    </div>
                </div>    
            </form>
            
            </div>
        </div>
    </div>
</div>