<div class="card-footer" style="background-color: white;">
  <div>
    <div class="row">
      <div class="col-6">
        <div class="d-flex flex-column mr-4">
          <div class="flex-row ml-4">
            <a class="mr-4" href="#">
              <img class="icono-footer" src="./assets/img/footer/Web.footer.png" alt="">
            </a>
            <a href="#">
              <img class="icono-footer" src="./assets/img/footer/WhatsApp.footer.png" alt="">
            </a>
          </div>
          &copy;
          Musicar,2024 - Todos los derechos reservados
        </div>
      </div>
      <div class="col-6">
        <div class="d-flex flex-row-reverse justify-content-center align-items-center">
          <a class="ml-2" href="#">
            <img class="icono-footer" src="./assets/img/footer/Youtuve.footer.png" alt="">
          </a>
          <a class="ml-2" href="#">
            <img class="icono-footer" src="./assets/img/footer/Linkedin.footer.png" alt="">
          </a>
          <a class="ml-2" href="#">
            <img class="icono-footer" src="./assets/img/footer/Facebook.footer.png" alt="">
          </a>
          <a class="ml-2" href="#">
            <img class="icono-footer" src="./assets/img/footer/Instagram.footer.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>