.card-dark-blue{
    background-color: #008CCA;
}
.card-yellow{
    background-color: #FEDD56;
}
.card-purple{
    background-color: #B492CB;

}
.card-light-blue{
    background-color: #1AC1E8;

}
.card-green{
    background-color: #50C981;
}