<div class="col-2 mx-auto">
    <div class="card card-dark-blue text-light">
        <div class="d-flex flex-column mx-auto justify-content-center mt-3">
            <p class="mx-auto font-weight-bold">Gestión copy</p>
            <h1 class="mx-auto">12</h1>
            <div class="d-flex flex-row mx-auto justify-content-center">
                <p>Ver datos</p>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-2 mx-auto">
    <div class="card card-yellow text-light">
        <div class="d-flex flex-column mx-auto justify-content-center mt-3">
            <p class="mx-auto font-weight-bold">Grabación</p>
            <h1 class="mx-auto">12</h1>
            <div class="d-flex flex-row mx-auto justify-content-center">
                <p>Ver datos</p>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-2 mx-auto">
    <div class="card card-purple text-light">
        <div class="d-flex flex-column mx-auto justify-content-center mt-3">
            <p class="mx-auto font-weight-bold">Producción</p>
            <h1 class="mx-auto">12</h1>
            <div class="d-flex flex-row mx-auto justify-content-center">
                <p>Ver datos</p>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-2 mx-auto">
    <div class="card card-light-blue text-light">
        <div class="d-flex flex-column mx-auto justify-content-center mt-3">
            <p class="mx-auto font-weight-bold">Terminados</p>
            <h1 class="mx-auto">12</h1>
            <div class="d-flex flex-row mx-auto justify-content-center">
                <p>Ver datos</p>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
    </div>
</div>
<div class="col-2 mx-auto">
    <div class="card card-green text-light">
        <div class="d-flex flex-column mx-auto justify-content-center mt-3">
            <p class="mx-auto font-weight-bold">Descargados</p>
            <h1 class="mx-auto">12</h1>
            <div class="d-flex flex-row mx-auto justify-content-center">
                <p>Ver datos</p>
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </div>
        </div>
    </div>
</div>